<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        backupGlobals="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Providers/LumenPrometheusServiceProvider.php</file>
            <file>src/Extractors/LumenRequest.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
        <testsuite name="lumen">
            <directory>tests/Lumen</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="YapqzFA247Arhh9WwKbANgRWH1rZ2cwclVWwlEsW41Q"/>
    </php>
</phpunit>
